<section id="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6">
                <h2>Sobre o evento</h2>
                <p>{{ sobre.descricao }}</p>
            </div>
            <div class="col-lg-3">
                <h3>Onde</h3>
                <p>{{ sobre.onde }}</p>
            </div>
            <div class="col-lg-3">
                <h3>Quando</h3>
                <p>{{ sobre.quando }}</p>
            </div>
        </div>
    </div>
</section>