<section id="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Galeria</h2>
            <p>Confira as imagens de nossos eventos recentes</p>
        </div>
    </div>

    <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">




            {% for img in  galeriaImagens.imagens.galleryHasMedias %}

                <div class="swiper-slide">
                    <a href="{{ asset('/upload/media/padrao/0001/01/'  ~ img.media.providerReference) }}" class="gallery-lightbox">
                        {% thumbnail img.media , 'reference' with {'class': 'imagens_galeria img-fluid'}  %}
                    </a>
                </div>
            {% endfor %}




        </div>
        <div class="swiper-pagination"></div>
    </div>



</section>