<section id="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Gallery</h2>
            <p>Confira nossa galeria de eventos recentes</p>
        </div>
    </div>

    <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">


            {% for i in 1..8 %}
            <div class="swiper-slide">
                <a href="{{ asset('img/gallery/1.jpg') }}" class="gallery-lightbox">
                    <img src="{{ asset('img/gallery/1.jpg') }}" class="img-fluid" alt="">
                </a>
            </div>
            {% endfor %}




        </div>
        <div class="swiper-pagination"></div>
    </div>



</section>