<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="{{ path('app_site') }}" class="scrollto"><img src="{{ asset('img/logo.png') }}" alt="" title=""></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
                <li><a class="nav-link scrollto" href="#speakers">Palestrantes</a></li>
                <li><a class="nav-link scrollto" href="#schedule">Calendário</a></li>
                <li><a class="nav-link scrollto" href="#venue">Local</a></li>
{#                <li><a class="nav-link scrollto" href="#hotels">Hotels</a></li>#}
                <li><a class="nav-link scrollto" href="#gallery">Galeria</a></li>
                <li><a class="nav-link scrollto" href="#supporters">Patrocinadores</a></li>
                <li><a class="nav-link scrollto" href="#faq">Faq</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" href="#buy-tickets">Ingressos</a>

    </div>
</header>

