<section id="speakers">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>PALESTRANTES DO EVENTO</h2>
            <p>Aqui estão alguns de nossos palestrantes</p>
        </div>

        <div class="row">
            {% for i in 1..6 %}
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="{{ asset('img/speakers/1.jpg') }}" alt="Speaker 1" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">{{ i }} Brenden Legros</a></h3>
                        <p>Quas alias incidunt</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

</section>