<section id="venue">

    <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
            <h2>LOCAL DO EVENTO</h2>
            <p>Informações de localização e galeria do local do evento</p>
        </div>

        <div class="row g-0">
            <div class="col-lg-6 venue-map">
                <iframe src="{{ localEvento.iframeGoogleMaps }}"></iframe>
            </div>

            <div class="col-lg-6 venue-info">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8 position-relative">
                        <h3>{{ localEvento.titlulo }}</h3>
                        <p>{{ localEvento.descricao }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

            {% for img in  localEvento.imagensLocal.galleryHasMedias %}
                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="{{ asset('/upload/media/padrao/0001/01/'  ~ img.media.providerReference) }}" class="glightbox" data-gall="venue-gallery">
                            {% thumbnail img.media , 'reference' with {'class': 'imagens_galeria_local_evento img-fluid'}  %}
                        </a>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>

</section>